section.wrapper-big.be-partner#form-send
    .wrapper
        header.be-partner__header
            h2.visually-hidden Стать партнером
            h2.h2 Напишите нам сегодня 
        p.be-partner__lead и начните зарабатывать от 100 000 ₽/мес через 49 дней или мы вернем вам деньги
        .be-partner__form
            include form.jade
            