section.benefit.wrapper
    header 
        h2.visually-hidden Преимущества для партнеров
        h2.h2 Что получают наши партнеры
    ul.benefit__list
        li.benefit__list-item.benefit__list-item--order-1
            svg.benefit__icon
                use(xlink:href ='img/sprite.svg#airplay')
            div.benefit__desc
                strong Интернет-магазин
                p Сайт gpsoff-ekaterinburg.ru с высокой посещаемостью
        li.benefit__list-item 
            svg.benefit__icon
                use(xlink:href ='img/sprite.svg#sun')
            div.benefit__desc
                strong Известный бренд
                p Работа под брендом GPSOFF: научим продавать металлоискатели
        li.benefit__list-item.benefit__list-item--order1
            svg.benefit__icon
                    use(xlink:href ='img/sprite.svg#location_outline')
            div.benefit__desc
                strong Эксклюзивное право
                p Мы ищем лишь одного партнера в Екатеринбурге
        li.benefit__list-item.benefit__list-item--order-1
            svg.benefit__icon
                use(xlink:href ='img/sprite.svg#move')
            div.benefit__desc
                strong Рекламная поддержка
                p Настройка и запуск контекстной рекламы в вашем регионе
        li.benefit__list-item 
            svg.benefit__icon
                use(xlink:href ='img/sprite.svg#refresh_02')
            div.benefit__desc
                strong Официальная гарантия
                p Бесплатный ремонт продукции от производителя
        li.benefit__list-item.benefit__list-item--order1
            svg.benefit__icon
                use(xlink:href ='img/sprite.svg#shopping-cart')
            div.benefit__desc
                strong Без взносов
                p Нет роялти и паушальных взносов 