section.features
    .wrapper
        h2.visually-hidden Преимущества сети магазинов GPSOFF
        dl.dl
            div.dl__main-item
                dt.dl__title.dl__title--logo GPS<span class="accent">OFF</span>.ru
                dd.dl__desc.dl__desc--main сеть магазинов по продаже металлоискателей
            div
                dt.dl__title 164
                dd.dl__desc города России
            div
                dt.dl__title 10+
                dd.dl__desc лет на рынке
            div
                dt.dl__title 30+
                dd.dl__desc заказов по городу/мес    