footer.footer 
    .wrapper.footer__content
        p.footer__text Сайт носит информационный характер и не является публичной офертой 2010 - 2020. © ООО "АРХО".
        p.footer__text-confident 
            a(href="privacy-policy.html") Политика конфиденциальности