section.for-whom.wrapper-big
    .wrapper.for-whom__content
        header.for-whom__header
            h2.h2 Кому подойдет
        .for-whom__desc
            p Региональные владельцы магазинов для туризма: одежда, обувь, рыбалка, охота, снаряжение и т.п.
            p Торговая площадь от 25 квадратных метров.
            p Начальные инвестиции от 100 000 рублей.
