section.franchises.wrapper
    h2.h2 Варианты франшизы 
    ul.franchises__list
        li.franchises__item
            section 
                header
                    h2.visually-hidden Франшиза СТАРТ
                    h3.franchises__item-header Старт
                p.franchises__item-price 100 000 ₽
                ul.franchises__item-points
                    li Доходность в год <br />700 000 ₽  
                    li Прибыль с продажи<br />25 000 ₽ 
                    li 7 товарных позиций
                button(type="button" data-modal-open="send").btn.btn--secondary Выбрать
        li.franchises__item 
            section 
                header
                    h2.visually-hidden Франшиза ОПТИМУМ
                    h3.franchises__item-header <span class="accent">Оптимум</span>
                p.franchises__item-price 200 000 ₽
                ul.franchises__item-points
                    li Доходность в год <br />1 000 000 ₽  
                    li Прибыль с продажи<br />45 000 ₽ 
                    li 11 товарных позиций
                button(type="button" data-modal-open="send").btn.btn--accent Выбрать
        li.franchises__item 
            section 
                header
                    h2.visually-hidden Франшиза СТАРТ
                    h3.franchises__item-header Премиум 
                p.franchises__item-price 300 000 ₽
                ul.franchises__item-points
                    li Доходность в год <br />1 300 000 ₽  
                    li Прибыль с продажи<br />60 000 ₽ 
                    li 14 товарных позиций
                button(type="button" data-modal-open="send").btn.btn--secondary Выбрать