header.header-main
    .wrapper.header-main__content     
            .header-main__logo   
                include logo-gpsoff.jade
            a(href="tel:88001008993", title="Телефон компании 8 (800) 100-89-93").header-main__tel 8 (800) 100-89-93 
            button(type="button" data-modal-open="send").hidden-mb.btn.header-main__btn Обратный звонок