section.modal#modal-send 
    .modal__content
        .modal__form
            header
                h2.modal__title Хочу получить план открытия
            p.modal__subtitle магазина GPSOFF.ru  
            include form.jade
        <button class="modal__close" type="button" data-modal-close aria-label="Закрыть модальное окно"></button>
