section.modal#modal-thanks
    .modal__content
        .modal__form
            header
                h2.modal__title Спасибо за заявку
            p.modal__subtitle Менеджер вам перезвонит в рабочее время. Это бесплатно и не обязывает к сделке. 
        <button class="modal__close" type="button" data-modal-close aria-label="Закрыть модальное окно"></button>
