section.modal#modal-video
    .modal__content.modal__video 
        .modal__video-wrapper
            include video.jade
        <button class="modal__close" type="button" data-modal-close aria-label="Закрыть модальное окно"></button>
