section.scheme.bg-money-left.bg-money-right
    .wrapper
        h2.h2.scheme__header Схема работы франшизы

        ul.scheme__list
            li.scheme__list-item
                svg.scheme__icon
                    use(xlink:href ='img/sprite.svg#device-mobile')
                Клиент оформляет заказ на сайте gpsoff-ekaterinburg.ru
            li.scheme__list-item
                svg.scheme__icon
                        use(xlink:href ='img/sprite.svg#phone-call')
                Наши менеджеры обрабатывают заказ и подтверждают его
            li.scheme__list-item 
                svg.scheme__icon
                        use(xlink:href ='img/sprite.svg#shopping-cart-2')
                Если товар есть на Вашем складе, направляем покупателя к Вам
                        
            li.scheme__list-item 
                svg.scheme__icon
                        use(xlink:href ='img/sprite.svg#truck')
                Если товара нет, мы формируем заказ и отправляем его к Вам
            li.scheme__list-item 
                svg.scheme__icon
                        use(xlink:href ='img/sprite.svg#profit')
                Вы продаете товар клиенту и получаете прибыль

    