extends components/layout.jade

block title
    title Франшиза сети магазинов по продаже металлоискателей | GPSOFF

block meta
    meta(name="description" content="Франшиза сети магазинов по продаже металлоискателей. Мы ищем партнера в Екатеренбурге.")

block header
    include ./components/header.jade
    
block main
    include ./components/lead-block.jade
    include ./components/features-block.jade
    include ./components/about-block.jade
    include ./components/benefit-block.jade
    include ./components/for-whom-block.jade
    include ./components/online-store-block.jade
    include ./components/work-scheme-block.jade
    include ./components/franchises-block.jade
    include ./components/guarantee-block.jade
    include ./components/brands-block.jade
    include ./components/profitable-partnership-block.jade    
    include ./components/be-partner-block.jade    
    include ./components/contacts-block.jade  

    include ./components/modal-send.jade    
    include ./components/modal-thanks.jade    
    include ./components/modal-video.jade    
    
block footer    
    include ./components/footer.jade

